In [7]:
import numpy as np
import pandas as pd

In [73]:
df1 = pd.read_csv('./datasets/datacleaning1.csv')
df2 = pd.read_csv('./datasets/datacleaning2.csv')

In [84]:
df1.columns

Index(['id', 'title', 'authors', 'venue', 'year'], dtype='object')

In [87]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2616 non-null   object
 1   title    2616 non-null   object
 2   authors  2398 non-null   object
 3   venue    2405 non-null   object
 4   year     2616 non-null   int64
dtypes: int64(1), object(4)
memory usage: 102.3+ KB

In [86]:
df2.columns

Index(['id', 'title', 'authors', 'venue', 'year'], dtype='object')

In [88]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64263 entries, 0 to 64262
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       64263 non-null  object
 1   title    64263 non-null  object
 2   authors  64262 non-null  object
 3   venue    49266 non-null  object
 4   year     29473 non-null  float64
dtypes: float64(1), object(4)
memory usage: 2.5+ MB

In [92]:
df1.dropna(inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2394 entries, 0 to 2614
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2394 non-null   object
 1   title    2394 non-null   object
 2   authors  2394 non-null   object
 3   venue    2394 non-null   object
 4   year     2394 non-null   int64
dtypes: int64(1), object(4)
memory usage: 112.2+ KB

In [97]:
df2 = df2[df2['authors'].notna()]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64262 entries, 0 to 64262
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       64262 non-null  object
 1   title    64262 non-null  object
 2   authors  64262 non-null  object
 3   venue    49266 non-null  object
 4   year     29473 non-null  float64
dtypes: float64(1), object(4)
memory usage: 2.9+ MB

In [117]:
df = pd.concat((df1, df2))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66656 entries, 0 to 64262
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       66656 non-null  object
 1   title    66656 non-null  object
 2   authors  66656 non-null  object
 3   venue    51660 non-null  object
 4   year     31867 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.1+ MB

In [118]:
df.drop(columns='id', inplace=True)
df.tail(10)

,title,authors,venue,year
64253,"Indexing and Query XML, Data for Regular Path ...",MB LI Q,Proceedings of the International Conference on...,NaN
64254,Compiling Devices,J de Kleer,"submitted for publication,",NaN
64255,Full text pdf format Pdf (1.48 MB)Source Inter...,"L Fegaras, C Srinivasan, A Rajendran, D Maier",Proceedings of the 2000 ACM SIGMOD internation...,2000.0
64256,"308 p., index, cartes, bibliogr",LPE Ltd,NaN,2002.0
64257,The Mobility Workbench| a tool for the-calculus,"B Victor, F Moller",Proceedings of,NaN
64258,Theophylline toxicity.,DS Cooling,"Journal of Emergency Medicine,",1993.0
64259,Source ACM Transactions on Database Systems (T...,RW Taylor,"ACM Transactions on Database Systems (TODS),",1983.0
64260,Range Nesting: A Fast Method to Evaluate Quant...,"M Jarke, J Koch",NaN,NaN
64261,Source ACM Transactions on Database Systems (T...,W Kim,"ACM Transactions on Database Systems (TODS),",1993.0
64262,A Declarative Approach to Optimize Bulk Loadin...,"S Amer-Yahia, S Cluet","ACM Transactions on Database Systems,",2004.0

In [119]:
df['title'].str.capitalize()
df.tail(10)

,title,authors,venue,year
64253,"Indexing and Query XML, Data for Regular Path ...",MB LI Q,Proceedings of the International Conference on...,NaN
64254,Compiling Devices,J de Kleer,"submitted for publication,",NaN
64255,Full text pdf format Pdf (1.48 MB)Source Inter...,"L Fegaras, C Srinivasan, A Rajendran, D Maier",Proceedings of the 2000 ACM SIGMOD internation...,2000.0
64256,"308 p., index, cartes, bibliogr",LPE Ltd,NaN,2002.0
64257,The Mobility Workbench| a tool for the-calculus,"B Victor, F Moller",Proceedings of,NaN
64258,Theophylline toxicity.,DS Cooling,"Journal of Emergency Medicine,",1993.0
64259,Source ACM Transactions on Database Systems (T...,RW Taylor,"ACM Transactions on Database Systems (TODS),",1983.0
64260,Range Nesting: A Fast Method to Evaluate Quant...,"M Jarke, J Koch",NaN,NaN
64261,Source ACM Transactions on Database Systems (T...,W Kim,"ACM Transactions on Database Systems (TODS),",1993.0
64262,A Declarative Approach to Optimize Bulk Loadin...,"S Amer-Yahia, S Cluet","ACM Transactions on Database Systems,",2004.0